.inlin{
    display:inline;
    background-color: rgb(183, 235, 189);
}

.bloc{
    display:block;
    background-color: rgb(235, 183, 229);
}

div{
    background-color: rgb(144, 250, 250);
}

span{
    background-color: rgb(196, 171, 237);
}

h1{
    background-color: bisque;
}

input{
    display:block;
    margin: 10px 0px;
}