.container{
    width:900px;
    height:500px;
    background-color: rgb(173, 255, 173);
    
}
.ball{
    position:relative;
    height:50px;
    width: 50px;
    background-color: blue;
    text-align: center;
    border-radius: 50%;
    color:white;
    animation:bouncing 1.5s cubic-bezier(.01,.64,.57,1) 0s 8 alternate forwards ,motion 5s cubic-bezier(.09,.33,.56,.84) 0s 1  forwards;
    
    
}
@keyframes bouncing{
    from{
        transform: translateY(450px);    
    }

    to{
        transform: translateY(50px);
    }


}

@keyframes motion{
    0%{
        left:0px;
    }

    100%{
        left:850px;
    }
}